@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Black: #000000;
  --White: #ffffff;
  --Text: #5c5e61;
  --Text-2: #161e2d;
  --Heading: #2c2e33;
  --Note: #a8abae;
  --Note-2: #8e8e93;
  --Primary: #f1913d;
  --Sub-primary-1: #fef7f1;
  --Sub-primary-2: rgba(241, 145, 61, 0.15);
  --Sub-primary-3: rgba(241, 145, 61, 0.1);
  --shadow: rgba(241, 145, 61, 0.12);
  --Secondary: #2c2e33;
  --Color-1: #06a788;
  --Color-2: #f2695c;
  --Color-3: #c79e34;
  --Color-4: #7695ff;
  --Color-5: #1563df;
  --Color-6: #fdefe2;
  --Color-7: #25c55b;
  --Color-8: #ffa920;
  --Line: #ececec;
}
* {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
  }  
.navbarbutton {
  color: #f1913d;
  background-color: white;
  border: 1px #f1913d solid;
  border-radius: 10px;
  padding: 10px 25px;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 18px;
}
.navbarbutton:hover {
  color: white;
  background-color: #f1913d;
}
/*list studio card*/
.list-studio .btn-sale {
  background-color: #a8abae;
  border: none;
  color: white;
  margin-left: 10px;
  border-radius:10px;
  margin-top:10px;
  padding:5px;
}
.list-studio .btn-sale:hover {
  color: #a8abae;
  background-color: white;
}
.list-studio .btn-feature {
  background-color: #f1913d;
  border: none;
  color: white;
  margin-left: 10px;
  padding:5px;
  border-radius:5px;
}
.list-studio .btn-feature:hover {
  color: #f1913d;
  background-color: white;
}
.list-studio img {
  max-width: 100%;
  height: 15rem;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}
.list-studio .card-body {
  border:1px solid var(--Line);
  border-radius:15px;
}
.list-studio .card-text {
  color: #a8abae;
}
.list-studio .card-text span {
  color: black;
}
.list-studio .card-footer {
  background-color: white;
  font-weight: bold;
}
.list-studio .card-footer span.price {
  color: #f1913d;
}

.site-ad .card {
  background-image: url("../images/SiteAd/site_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fdefe2;
  border-radius:10px;
}
.site-ad .card button {
  display: block;
  width: 90%;
  margin: auto;
  background-color:var(--Primary);
  color:var(--White);
  border:none;
  height:40px;
  border-radius:10px;
}
.card button:hover{
  background-color:var(--Color-8);
}
.head {
  height: 100vh;
  background-image: url("../images/head/headImg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}
.head .active {
  color: #f1913d !important;
}
.head ul li {
  margin-inline: 1rem;
}
.head ul li a:hover {
  color: #f1913d;
}

.search .search-icon {
  border: 1px solid rgb(243, 240, 240);
  border-radius: 10px;
}
.search .search-icon:hover {
  background-color: #f1913d;
  color: white;
}
.search .search-icon .icon {
  font-size: 5rem;
}/*# sourceMappingURL=main.css.map */

.breadcrumbhome {
  color:var(--Primary);
  text-decoration: none;
  margin-right: 10px;
}
.breadcrumbproperty{
 color:var(--Text-2);
 text-decoration: none;
 margin-right: 10px;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #888;
  margin: 0 5px;
}
.livingroom4{height:270px;}
.img-fluid{
  border-radius: 10px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.photo-button {
  background-color:var(--Primary);
  color: #fff;
  border:none;
  padding: 10px 20px;
  border-radius:20px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: -50px; 
  margin-left:10px;
}

.photo-button:hover {
  background-color:var(--Color-8);
}
.property-details { border-radius:20px;
 }
.contact-seller { 
  border:1px solid var(--Line);
border-radius:10px;
width:700;}
.contact-seller img { width: 100px; height: 100px; border-radius: 50%; }
.contact-seller .form-group { margin-bottom: 15px; }
.month{font-size:14px;
color:var(--Text);}
.iconbuttons{
 color:var(--Note-2);
  border:1px solid var(--Line);
  padding:8px 12px;
  border-radius:10px;
  background-color:var(--White);
}
.text-color{color: var(--Note);}
.number-color{color: var(--Black);}
.button-card{
  color:var(--Note-2);
  border:1px solid var(--Line);
  width:60px;
  height:60px;
  border-radius:10px;
  background-color:var(--White);
}
.askbutton{
  background-color:var(--Primary);
  color: #fff;
  border:none;
  padding: 10px 20px;
  border-radius:10px;
  font-size: 12px;
  cursor: pointer;
}
.contact-text{font-size:12px;}
.contact-text-color{color:var(--Primary);}
.contact-button{
  background-color:var(--Primary);
  color: #fff;
  border:none;
  width:100%;
  height:40px;
  border-radius:10px;
  font-size:16px;
  cursor: pointer;
}
.sidebar{width:30%;}
.borderradius{border-radius:15px;
height:50px;}
.about-property{
  border-radius:10px;
}
.videosection{border-radius:15px;}
.videosection img {border-radius:20px;}
/* property details section*/
.property-details {
  border-radius: 15px;
}

.property-info .detail {
  text-align: center;
  padding: 10px;
}

.property-info .detail p:first-child {
  font-weight: bold;
}

.read-more {
  display: inline-block;
  color:var(--Primary);
  text-decoration: none;
}
.secondcolumn{width:25%;}
.amenities{border-radius:15px;}
.amenities-list {
  list-style-type: none;
  padding-left: 0;
}

.amenities-list li {
  margin-bottom: 10px;
}

.amenities-list li::before {
  content: "\2022"; 
  color:var(--Primary); 
  margin-right: 10px;
}
/*direction*/
.responsive-map{
  overflow: hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  border-radius:15px;
  }
  .responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  .secondcolumndirection{width:35%}
  .accordion-item,.accordion-button{background-color:#F7F7F7 ;}
  .estimated-payment span{color:var(--Primary);}
  .secondcolumnnearby{width:35%;}
  /*review section*/
  .comments-section {
    padding: 20px;
    max-width:1200px;

    h2 {
      margin-bottom: 20px;
      font-size: 1.3rem;
    }
  
    .comment {
      border-bottom: 1px solid var(--Line);
      padding-bottom: 15px;
      margin-bottom: 15px;
      display: flex;
      align-items: flex-start;

      .profile-pic {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
      }

      .comment-body {
        margin-left:20px;
      }
  
      .comment-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .comment-info {
          h3 {
            margin: 0;
            font-size: 1rem;
          }
  
          span {
            font-size: 0.85rem;
            color: var(--Note);
          }
        }
  
        .rating {
          margin-left: auto;
  
          .fa-star {
            color: var(--Primary);
          }
        }
      }
  
      p {
        font-size: 0.95rem;
        line-height: 1.5;
        color:var(--Text);
      }
  
      .comment-images {
        display: flex;
        gap: 30px;
        margin: 10px 0;

        img {
            width:220px;
            height:130px;
            border-radius: 20px;
        }
      }
  
      .comment-actions {
        display: flex;
        gap: 20px;
  
        button {
          background: none;
          border: none;
          font-size: 0.9rem;
          cursor: pointer;
          color: var(--Note-2);
          transition: all 0.3s ease-in-out;
          i {
            margin-right: 5px;
          }
  
          
        }
        button:hover {
            color: var(--Primary);
          }
      }
    }
 
    .leave-comment {
      margin-top: 20px;
        
      h2{
        color:var(--Text2);
        }
        .form-header{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
      }
      .form-group {
        margin-bottom: 15px;
        box-sizing: border-box;
        padding:20px;

        label {
          display: block;
          margin-bottom: 10px;
          font-weight: bold;
          color:var(--Text-2);
        }

        input,
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid var(--Line);
          border-radius: 10px;
          font-size: 0.9rem;
        }

        textarea {
          resize: none;
          height: 100px;
        }
      }

      .check-group{
          margin-left:20px;

          label {
              margin-left:10px;
              color:var(--Text);
          }

          input {
              border: 1px solid var(--Line);
          }
      }

    }
}

.btn-primary {
  background-color:var(--Primary);
  color:var(--White);
  border:none;
  border-radius: 10px;
  font-weight: 600;
  padding:12px 22px;
  margin:0 20px;
  transition:all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--Sub-primary-1);
  color:var(--Primary);
  border:1px solid var(--Primary);
  cursor: pointer;
}
.btn-outline {
  background:none;
  color:var(--Primary);
  border: 1px solid var(--Primary);
  border-radius: 10px;
  font-weight: 600;
  padding:12px 22px;
  margin:0 20px;
  transition:all 0.3s ease-in-out;
}

.btn-outline:hover {
  background-color:var(--Primary);
  color:var(--White);
  cursor:pointer;
}
/* blogCard */
.card {
    width: 350px;
    border: 1px solid #ccc;
    border:none;
    margin: 20px;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius:10px;
  }
  
  .category {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:var(--Primary);
    color: var(--White);
    padding: 5px 10px;
    border-radius:20px;
  }
  
  .content {
    margin:10px;
  }
  
  .date {
    color:var(--Text-2);
    font-size: 14px;
  }
  .date-icon{color:var(--Note);}
  .title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .read-more {
    font-size:16px;
    color: var(--Primary);
    text-decoration: none;
  }
  
  .read-more:hover {
    background-color: #0056b3;
  }
/*paginationvariant*/
.paginationVariant {
    display: flex;
    margin:50px;
  }
  .prev,.next{ 
    border: 1px solid #ccc;
  }
  .paginationVariant a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  
  .paginationVariant a.active {
    background-color:var(--Primary);
    color: #fff;
  }
  
  .paginationVariant .ellipsis {
    margin: 0 5px;
  }
  .agent-card {
    padding:10px;
    height: 570px;
    width: 385px;
    display:flex;
    flex-direction: column;
    align-items: center;

    img {
        border-radius: 10px;
        background-color: var(--Sub-primary-1);
        width: 300px;
        height: 400px;
    }

    .agent-card-footer {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:15px 0;
        padding:0 15px;

        .agent-info {
           h3{
            color:var(--Text-2);
            font-size:24px;
           }
           p{
            color : var(--Text)
           }
        }

        .agent-icons i {
            color:var(--Text);
            font-size: 20px;
            margin: 0 5px;
            border: 1px solid var(--Line);
            padding:10px;
            border-radius: 50%;
        }
    }

}

 /*PAGINATION*/
 .pagination {
    display: flex;
  }
  .prev,.next{ 
    border: 1px solid #ccc;
  }
  .pagination a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  
  .pagination a.active {
    background-color:var(--Primary);
    color: #fff;
  }
  
  .pagination .ellipsis {
    margin: 0 5px;
  }
  
.info{
flex:1;
color:var(--Text);
padding:10px;}
.primary-bg{background-color:var(--Primary);
color:var(--White);}
.find-agent-btn{
  background-color:var(--White);
  color:var(--Primary);
}
.secondary-bg {
  background-color: var(--Secondary);
}
.secondary-border {
  border: 1px solid var(--Text);
}
.text-color {
  color: var(--Text);
}
.primary-text {
  color: var(--Primary);
}
.white-bg {
  background-color: var(--White);
}
.white-text {
  color: var(--White);
}
a {
  text-decoration: none;
  color: var(--Text);
}
.btn {
  border-radius: 10px !important;
}

@media (max-width: 768px) {
    .col-md-6 {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .col-md-6 {
      width: 100%;
    }
  
    .twolivingroom .col-md-6 {
      margin-bottom: 20px; 
    }
  }

  