<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation bar</title>
    <script src="https://kit.fontawesome.com/724244f32d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <header>
        <img src="../assets//imgs/logo@2x.png" alt="logo" id="logo">
        <nav>
            <ul>
                <li><a href="#" id="HomeLink">Home</a></li>
                <li><a href="#">Listing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
        </nav>
        <div class="navbar-right">
            <i class="fa-solid fa-phone"></i>
            <p>
            (603)555-0123
            </p>
            <button class="btn-outline">Add property</button>
        </div>
    </header>
</body>
</html>