<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReviewSection</title>
    <link rel="stylesheet" href="../main.css">
    <script src="https://kit.fontawesome.com/724244f32d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="comments-section">
        <h2>Comment (4)</h2>
        <div class="comment">
            <img src="../assets/imgs/avatars/avatar1.jpg" alt="Viola Lucas" class="profile-pic" />
            <div class="comment-body">
                <div class="comment-header">
                    <div class="comment-info">
                    <h3>Viola Lucas</h3>
                    <span>August 13, 2023</span>
                    </div>
                    <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>
                </div>
                <p>
                    It's really easy to use and is exactly what I am looking for. A lot of
                    good-looking templates & it's highly customizable. Live support is
                    helpful, solved my issue in no time.
                </p>
                <div class="comment-images">
                    <img src="../assets/imgs/houses/house1.jpg" alt="house image 1">
                    <img src="../assets/imgs/houses/house2.jpg" alt="house image 2">
                    <img src="../assets/imgs/houses/house3.jpg" alt="house image 3">
                </div>
                <div class="comment-actions">
                    <button><i class="fa fa-thumbs-up"></i> Useful</button>
                    <button><i class="fa fa-thumbs-down"></i> Not helpful</button>
                </div>
            </div>
        </div>
        <div class="comment">
            <img src="../assets/imgs/avatars/avatar1.jpg" alt="Viola Lucas" class="profile-pic" />
            <div class="comment-body">
                <div class="comment-header">
                    <div class="comment-info">
                    <h3>Viola Lucas</h3>
                    <span>August 13, 2023</span>
                    </div>
                    <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>
                </div>
                <p>
                    It's really easy to use and is exactly what I am looking for. A lot of
                    good-looking templates & it's highly customizable. Live support is
                    helpful, solved my issue in no time.
                </p>
                <div class="comment-actions">
                    <button><i class="fa fa-thumbs-up"></i> Useful</button>
                    <button><i class="fa fa-thumbs-down"></i> Not helpful</button>
                </div>
            </div>
        </div>
        <div class="comment">
            <img src="../assets/imgs/avatars/avatar1.jpg" alt="Viola Lucas" class="profile-pic" />
            <div class="comment-body">
                <div class="comment-header">
                    <div class="comment-info">
                    <h3>Viola Lucas</h3>
                    <span>August 13, 2023</span>
                    </div>
                    <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>
                </div>
                <p>
                    It's really easy to use and is exactly what I am looking for. A lot of
                    good-looking templates & it's highly customizable. Live support is
                    helpful, solved my issue in no time.
                </p>
                <div class="comment-actions">
                    <button><i class="fa fa-thumbs-up"></i> Useful</button>
                    <button><i class="fa fa-thumbs-down"></i> Not helpful</button>
                </div>
            </div>
        </div>
        <button class="btn-outline">View all comment</button>
    
        <div class="leave-comment">
          <h2>Leave A Comment</h2>
          <form>
            <div class="form-header">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Your Name*" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Your Email*" required>
                  </div>
            </div>
            <div class="check-group">
              <input type="checkbox">
              <label>
                 Save your name, email for the next time review
              </label>
            </div>
            <div class="form-group">
              <label for="comment">Comment</label>
              <textarea id="comment" placeholder="Your comment" required></textarea>
            </div>
            <button type="submit" class="btn-primary">Post Comment</button>
          </form>
        </div>
      </div>
</body>
</html>