:root {
    --Black: #000000;
    --White: #ffffff;
    --Navbar:#ffffff;
    --Navbar-text:#000000;
    --background:#fffffff;
    --Text: #5c5e61;
    --Text-2: #161e2d;
    --Heading: #2c2e33;
    --Note: #a8abae;
    --Note-2: #8e8e93;
    --Primary: #f1913d;
    --Sub-primary-1: #fef7f1;
    --Sub-primary-2: rgba(241, 145, 61, 0.15);
    --Sub-primary-3: rgba(241, 145, 61, 0.1);
    --shadow: rgba(241, 145, 61, 0.12);
    --Secondary: #2c2e33;
    --Color-1: #06a788;
    --Color-2: #f2695c;
    --Color-3: #c79e34;
    --Color-4: #7695ff;
    --Color-5: #1563df;
    --Color-6: #fdefe2;
    --Color-7: #25c55b;
    --Color-8: #ffa920;
    --Line: #ececec;
  }

  [data-theme="dark"] {
    --background: #161616;
    --Navbar:#161616;
    --Navbar-text:#ffffff;
  }

  *{
    padding:0;
    margin: 0;
    font-family: 'lexend', sans-serif;
  }

  body{
    background-color: var(--background);
  }


  .button-primary {
    background-color:var(--Primary);
    color:var(--White);
    border:none;
    border-radius: 10px;
    font-weight: 600;
    padding:12px 22px;
    margin:0 20px;
    transition:all 0.3s ease-in-out;
}

.button-primary:hover {
    background-color: var(--Sub-primary-1);
    color:var(--Primary);
    border:1px solid var(--Primary);
    cursor: pointer;
}

.button-outline {
    background:none;
    color:var(--Primary);
    border: 1px solid var(--Primary);
    border-radius: 10px;
    font-weight: 600;
    padding:12px 22px;
    margin:0 20px;
    transition:all 0.3s ease-in-out;
}

.button-outline:hover {
    background-color:var(--Primary);
    color:var(--White);
    cursor:pointer;
}

.line-border {
  border: 1px solid var(--Line);
}