<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Card Component </title>
    <link rel="stylesheet" href="../main.css">
    <script src="https://kit.fontawesome.com/724244f32d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="agent-card">
        <img src="../assets/imgs/agents/agent-img-one.jpg" alt="agent-img" >
        <div class="agent-card-footer">
        <div class="agent-info">
            <h3>Leslie Alexander</h3>
            <p>Sale agent</p>
        </div>
        <div class="agent-icons">
            <i class="fas fa-phone"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
        </div>
    </div>
</body>
</html>