<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blogCard</title>
  <link rel="stylesheet" href="./assets/style/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="card">
    <div class="image-container">
      <img src="./assets/images/blogcard.jpg" alt="Living Room">
      <div class="category">Real estate</div>
    </div>
    <div class="content">
      <div class="date"><span class="date-icon"><i class="fa-regular fa-clock"></i></span> 26 August, 2024</div>
      <div class="title">Building gains into housing stocks and how to trade the...</div>
      <a href="#" class="read-more"><b>Read More </b>  <i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
  </div>
</body>
</html>