.agent-card {
    padding:10px;
    height: 570px;
    width: 385px;
    display:flex;
    flex-direction: column;
    align-items: center;

    img {
        border-radius: 10px;
        background-color: var(--Sub-primary-1);
        width: 360px;
        height: 485px;
    }

    .agent-card-footer {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:15px 0;
        padding:0 15px;

        .agent-info {
           h3{
            color:var(--Text-2);
            font-size:24px;
           }
           p{
            color : var(--Text)
           }
        }

        .agent-icons i {
            color:var(--Text);
            font-size: 20px;
            margin: 0 5px;
            border: 1px solid var(--Line);
            padding:10px;
            border-radius: 50%;
        }
    }

}