.card {
    width: 350px;
    border: 1px solid #ccc;
    border:none;
    margin: 20px;
  }

  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius:10px;
  }

  .category {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:var(--Primary);
    color: var(--White);
    padding: 5px 10px;
    border-radius:20px;
  }

  .content {
    margin:10px;
  }

  .date {
    color:var(--Text-2);
    font-size: 14px;
  }
  .date-icon{color:var(--Note);}
  .title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .read-more {
    font-size:16px;
    color: var(--Primary);
    text-decoration: none;
  }
  
  .read-more:hover {
    background-color: #0056b3;
  }