.pagination {
    display: flex;
    margin:50px;
  }
  .prev,.next{ 
    border: 1px solid #ccc;
  }
  .pagination a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  
  .pagination a.active {
    background-color:var(--Primary);
    color: #fff;
  }
  
  .pagination .ellipsis {
    margin: 0 5px;
  }
  
.info{
flex:1;
color:var(--Text);
padding:10px;}