.comments-section {
    padding: 20px;
    max-width:1200px;

    h2 {
      margin-bottom: 20px;
      font-size: 1.3rem;
    }
  
    .comment {
      border-bottom: 1px solid var(--Line);
      padding-bottom: 15px;
      margin-bottom: 15px;
      display: flex;
      align-items: flex-start;

      .profile-pic {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
      }

      .comment-body {
        margin-left:20px;
      }
  
      .comment-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .comment-info {
          h3 {
            margin: 0;
            font-size: 1rem;
          }
  
          span {
            font-size: 0.85rem;
            color: var(--Note);
          }
        }
  
        .rating {
          margin-left: auto;
  
          .fa-star {
            color: var(--Primary);
          }
        }
      }
  
      p {
        font-size: 0.95rem;
        line-height: 1.5;
        color:var(--Text);
      }
  
      .comment-images {
        display: flex;
        gap: 30px;
        margin: 10px 0;

        img {
            width:220px;
            height:130px;
            border-radius: 20px;
        }
      }
  
      .comment-actions {
        display: flex;
        gap: 20px;
  
        button {
          background: none;
          border: none;
          font-size: 0.9rem;
          cursor: pointer;
          color: var(--Note-2);
          transition: all 0.3s ease-in-out;
          i {
            margin-right: 5px;
          }
  
          
        }
        button:hover {
            color: var(--Primary);
          }
      }
    }
 
    .leave-comment {
      margin-top: 20px;
        
      h2{
        color:var(--Text2);
        }
        
        .form-header{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        .form-group {
          margin-bottom: 15px;
          box-sizing: border-box;
          padding:20px;

          label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color:var(--Text-2);
          }
  
          input,
          textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--Line);
            border-radius: 10px;
            font-size: 0.9rem;
          }
  
          textarea {
            resize: none;
            height: 100px;
          }
        }

        .check-group{
            margin-left:20px;

            label {
                margin-left:10px;
                color:var(--Text);
            }

            input {
                border: 1px solid var(--Line);
            }
        }

      }
}