@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Black: #000000;
  --White: #ffffff;
  --Text: #5c5e61;
  --Text-2: #161e2d;
  --Heading: #2c2e33;
  --Note: #a8abae;
  --Note-2: #8e8e93;
  --Primary: #f1913d;
  --Sub-primary-1: #fef7f1;
  --Sub-primary-2: rgba(241, 145, 61, 0.15);
  --Sub-primary-3: rgba(241, 145, 61, 0.1);
  --shadow: rgba(241, 145, 61, 0.12);
  --Secondary: #2c2e33;
  --Color-1: #06a788;
  --Color-2: #f2695c;
  --Color-3: #c79e34;
  --Color-4: #7695ff;
  --Color-5: #1563df;
  --Color-6: #fdefe2;
  --Color-7: #25c55b;
  --Color-8: #ffa920;
  --Line: #ececec;
}

#main {
  box-sizing: border-box;
  display: grid;
  gap: 50px;
}

@media (max-width: 1024px) {
  #main {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  #main {
    grid-template-columns: 2fr 1fr;
    padding: 30px 150px;
  }
}

#main #main-left-side h1 {
  font-size: 40px;
  font-weight: 600;
}

#main #main-left-side h3 {
  font-weight: 500;
  margin: 10px 0;
}

#main #main-left-side .heading-paragraph {
  margin: 30px 0;
  color: var(--Text-2);
}

#main #main-left-side .content-paragraph {
  margin: 10px 0;
  color: var(--Text);
}

#main #main-left-side .quote-div {
  background-color: var(--Sub-primary-2);
  color: var(--Primary);
  margin: 10px 0;
  padding: 30px;
  border-radius: 10px;
  border-left: 5px solid var(--Primary);
}

#main #main-left-side .mid-imgs {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
}

#main #main-left-side .mid-imgs img {
  width: 500px;
  height: 250px;
  border-radius: 15px;
}

#main #main-left-side .content-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Text);
  margin: 20px 0;
}

#main #main-left-side .content-footer span {
  margin-right: 10px;
}

#main #main-left-side .content-footer i {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid var(--Line);
  border-radius: 100%;
}

#main #main-left-side .listing-info {
  margin: 20px 0;
  color: var(--Note);
  display: flex;
  align-items: center;
  gap: 10px;
}

#main #main-left-side .listing-info .heading-primary {
  color: var(--Primary);
}

#main #main-left-side .listing-info i {
  color: var(--Note);
}

#main #main-left-side .main-img {
  border-radius: 10px;
}

#main #main-right-side h2 {
  font-weight: 600;
  color: var(--Text-2);
  margin: 20px 0;
}

#main #main-right-side .search input {
  width: 100%;
  border: 1px solid var(--Line);
  padding: 15px 12px 15px 50px;
  border-radius: 10px;
  color: var(--Note);
}

#main #main-right-side .search i {
  position: relative;
  color: var(--Note);
  top: 34px;
  left: 20px;
}

#main #main-right-side .category-item {
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main #main-right-side .featured-lisitngs .featured-item {
  width: 100%;
  display: flex;
  margin: 20px 0;
  align-items: flex-start;
}

#main #main-right-side .featured-lisitngs .featured-item img {
  width: 130px;
  height: 80px;
  border-radius: 20px;
}

#main #main-right-side .featured-lisitngs .featured-item .featured-item-info {
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main #main-right-side .featured-lisitngs .featured-item .featured-item-info h4 {
  font-weight: 500;
}

#main #main-right-side .featured-lisitngs .featured-item .featured-item-info span {
  margin-top: 30px;
  color: var(--Note);
  font-size: 14px;
}

#main #main-right-side .newsletter p {
  color: var(--Text);
  margin: 10px 0;
}

#main #main-right-side .newsletter .newsletter-input input {
  width: 100%;
  padding: 15px 50px 15px 12px;
  border: 1px solid var(--Line);
  border-radius: 10px;
}

#main #main-right-side .newsletter .newsletter-input i {
  color: var(--Primary);
  position: relative;
  top: 34px;
  left: 580px;
}

#main #main-right-side .popular-tags .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#related-posts {
  box-sizing: border-box;
  padding: 30px 150px;
}

#related-posts h2 {
  color: var(--Text-2);
}

#related-posts .blog-cards {
  display: grid;
  gap: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  #related-posts .blog-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #related-posts .blog-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  #related-posts .blog-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.break {
  background-color: var(--Line);
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

.tag {
  color: var(--Text-2);
  border: 1px solid var(--Line);
  padding: 10px;
  border-radius: 100px;
}

:root {
  --Black: #000000;
  --White: #ffffff;
  --Text: #5c5e61;
  --Text-2: #161e2d;
  --Heading: #2c2e33;
  --Note: #a8abae;
  --Note-2: #8e8e93;
  --Primary: #f1913d;
  --Sub-primary-1: #fef7f1;
  --Sub-primary-2: rgba(241, 145, 61, 0.15);
  --Sub-primary-3: rgba(241, 145, 61, 0.1);
  --shadow: rgba(241, 145, 61, 0.12);
  --Secondary: #2c2e33;
  --Color-1: #06a788;
  --Color-2: #f2695c;
  --Color-3: #c79e34;
  --Color-4: #7695ff;
  --Color-5: #1563df;
  --Color-6: #fdefe2;
  --Color-7: #25c55b;
  --Color-8: #ffa920;
  --Line: #ececec;
}

.map-section {
  width: 100%;
  box-sizing: border-box;
}

.map-section img {
  width: 100%;
  height: 700px;
}

.contact-form {
  position: absolute;
  width: 700px;
  top: 65%;
  left: calc(50% - 350px);
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 10px 2px var(--shadow);
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .contact-form {
    width: 350px;
    left: calc(50% - 175px);
  }
}

.contact-form .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

@media (max-width: 1024px) {
  .contact-form .form-inputs {
    grid-template-columns: 1fr;
  }
}

.empty-section {
  height: 400px;
}

.contact-info-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 100px;
}

.contact-info-section .adresses {
  margin: 30px 0px;
}

.contact-info-section .adress-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0px;
}

.contact-info-section .adress-item i {
  width: 30px;
  font-size: 30px;
  color: var(--Note);
}

.contact-info-section .adress-item .v-break {
  width: 1px;
  height: 40px;
  background-color: var(--Line);
}

.contact-info-section .adress-item .adress-title {
  color: var(--Note);
}

.contact-info-section img {
  width: 700px;
  height: 700px;
  border-radius: 20px;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
}

.partners .partners-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}

.partners img {
  width: 200px;
  height: 200px;
  filter: grayscale(1);
}

.contact-header {
  font-size: 34px;
  font-weight: 600;
  color: var(--Text-2);
  white-space: wrap;
  margin: 10px 0px;
}

.label-style {
  font-size: 14px;
  font-weight: 600;
  color: var(--Text-2);
}

.input-style {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 5px;
  color: var(--Note);
  border: 1px solid var(--Line);
  border-radius: 10px;
}

.section-header {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0px;
}

.vivid-text {
  color: var(--Note);
  font-size: 14px;
}

.message-input {
  height: 100px;
}

.orange-info {
  color: var(--Primary);
}

.big {
  font-size: 24px;
  font-weight: 700;
}

:root {
  --Black: #000000;
  --White: #ffffff;
  --Text: #5c5e61;
  --Text-2: #161e2d;
  --Heading: #2c2e33;
  --Note: #a8abae;
  --Note-2: #8e8e93;
  --Primary: #f1913d;
  --Sub-primary-1: #fef7f1;
  --Sub-primary-2: rgba(241, 145, 61, 0.15);
  --Sub-primary-3: rgba(241, 145, 61, 0.1);
  --shadow: rgba(241, 145, 61, 0.12);
  --Secondary: #2c2e33;
  --Color-1: #06a788;
  --Color-2: #f2695c;
  --Color-3: #c79e34;
  --Color-4: #7695ff;
  --Color-5: #1563df;
  --Color-6: #fdefe2;
  --Color-7: #25c55b;
  --Color-8: #ffa920;
  --Line: #ececec;
}

* {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 10px 20px;
  width: 100%;
}

header #logo {
  height: 50px;
  width: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-2);
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: var(--Primary);
}

header nav ul #HomeLink {
  color: var(--Primary);
  font-weight: 700;
}

header .navbar-right {
  display: flex;
  align-items: center;
}

header .navbar-right i {
  color: var(--Primary);
  margin: 0 10px;
}

header .navbar-right p {
  font-weight: 600;
}

.agent-card {
  padding: 10px;
  height: 570px;
  width: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agent-card img {
  border-radius: 10px;
  background-color: var(--Sub-primary-1);
  width: 360px;
  height: 485px;
}

.agent-card .agent-card-footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 0 15px;
}

.agent-card .agent-card-footer .agent-info h3 {
  color: var(--Text-2);
  font-size: 24px;
}

.agent-card .agent-card-footer .agent-info p {
  color: var(--Text);
}

.agent-card .agent-card-footer .agent-icons i {
  color: var(--Text);
  font-size: 20px;
  margin: 0 5px;
  border: 1px solid var(--Line);
  padding: 10px;
  border-radius: 50%;
}

.comments-section {
  padding: 20px;
  max-width: 1200px;
}

.comments-section h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.comments-section .comment {
  border-bottom: 1px solid var(--Line);
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

.comments-section .comment .profile-pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.comments-section .comment .comment-body {
  margin-left: 20px;
}

.comments-section .comment .comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comments-section .comment .comment-header .comment-info h3 {
  margin: 0;
  font-size: 1rem;
}

.comments-section .comment .comment-header .comment-info span {
  font-size: 0.85rem;
  color: var(--Note);
}

.comments-section .comment .comment-header .rating {
  margin-left: auto;
}

.comments-section .comment .comment-header .rating .fa-star {
  color: var(--Primary);
}

.comments-section .comment p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--Text);
}

.comments-section .comment .comment-images {
  display: flex;
  gap: 30px;
  margin: 10px 0;
}

.comments-section .comment .comment-images img {
  width: 220px;
  height: 130px;
  border-radius: 20px;
}

.comments-section .comment .comment-actions {
  display: flex;
  gap: 20px;
}

.comments-section .comment .comment-actions button {
  background: none;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--Note-2);
  transition: all 0.3s ease-in-out;
}

.comments-section .comment .comment-actions button i {
  margin-right: 5px;
}

.comments-section .comment .comment-actions button:hover {
  color: var(--Primary);
}

.comments-section .leave-comment {
  margin-top: 20px;
}

.comments-section .leave-comment h2 {
  color: var(--Text2);
}

.comments-section .leave-comment .form-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.comments-section .leave-comment .form-group {
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 20px;
}

.comments-section .leave-comment .form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--Text-2);
}

.comments-section .leave-comment .form-group input,
.comments-section .leave-comment .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--Line);
  border-radius: 10px;
  font-size: 0.9rem;
}

.comments-section .leave-comment .form-group textarea {
  resize: none;
  height: 100px;
}

.comments-section .leave-comment .check-group {
  margin-left: 20px;
}

.comments-section .leave-comment .check-group label {
  margin-left: 10px;
  color: var(--Text);
}

.comments-section .leave-comment .check-group input {
  border: 1px solid var(--Line);
}

.btn-primary {
  background-color: var(--Primary);
  color: var(--White);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  padding: 12px 22px;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--Sub-primary-1);
  color: var(--Primary);
  border: 1px solid var(--Primary);
  cursor: pointer;
}

.btn-outline {
  background: none;
  color: var(--Primary);
  border: 1px solid var(--Primary);
  border-radius: 10px;
  font-weight: 600;
  padding: 12px 22px;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
}

.btn-outline:hover {
  background-color: var(--Primary);
  color: var(--White);
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */